.about-us {

}

.about-us__wrapper{
  padding: 36px 0 100px 0;
}

.about-us__title{
  margin-bottom: 14px;
}

.about-us__text{
  margin-bottom: 45px;
}

.about-us__people{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-us__card{

}