.about-us__wrapper {
  padding-top: 36px;

  @include media-mobile-big {
    padding-bottom: 27px;
  }
}

.about-us__title {
  margin-bottom: 14px;

  @include media-mobile-big {
    margin-bottom: 8px;
  }
}

.about-us__people {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: $desktop-width;
  margin: 0 auto;
  padding: 45px $desktop-padding 100px $desktop-padding;

  @include media-tablet {
    flex-wrap: nowrap;
    padding: 37px 0 70px 0;

    overflow: scroll;
  }
  @include media-mobile-big {
    padding: 27px 0 50px 0;
  }
}

.about-us__card {
  flex-shrink: 0;

  @include media-tablet {
    margin-right: 65px;

    &:last-child {
      margin-right: 0;
    }
  }
}
