.about-us {

}

.about-us__wrapper{
  padding-top: 36px;
  padding-bottom: 100px;
}

.about-us__title{
  margin-bottom: 14px;
}

.about-us__text{
  margin-bottom: 45px;
}

.about-us__people{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-us__card{

}