.card-mini {
  position: relative;

  width: 301px;
  margin-right: 32px;
  padding: 36px 76px 34px 35px;

  background-color: $color-white;
  border-radius: 10px;
  box-shadow: 0 4px 20px transparentize($color-black, 0.95);
}

.card-mini__title {
  @include font(1.6rem, 2.6rem, 700);

  margin: 0;
}

.card-mini__text {
  @include font(1.4rem, 2.2rem, 400);

  margin: 0;
}

.card-mini__link {
  @extend %transition;
  @include font(1.4rem, 2.2rem, 400);

  display: block;
  margin: 0;

  color: $color-link;

  &:hover,
  &:focus {
    color: $color-main;
  }
}

.card-mini__img {
  position: absolute;
  top: calc(50% - 98px / 2);
  right: -32px;

  width: 98px;
  height: 98px;

  border-radius: 50%;
  box-shadow: 0 15px 30px transparentize($color-black, 0.85);
}
