.footer {

}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 58px;
  padding-bottom: 52px;
}

.footer__logo {
  margin-right: 150px;
}

.footer__logo-img {
  display: block;
}

.footer__links {

}