.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form__input {
  @extend %transition;
  @extend %font-default;
  @include font(1.6rem, 2.6rem);

  width: 48%;
  margin-bottom: 18px;
  padding: 9px 20px 8px 20px;

  color: $color-title;

  background-color: $color-white;
  border: 1px solid $color-white;
  border-radius: 5px;
  outline: none;

  &::placeholder {
    color: $color-placeholder;
  }

  &:hover,
  &:focus {
    border-color: $color-main;
  }

  &--invalid {
    background-color: $color-invalid-bg;
    border-color: $color-invalid-border;
  }

  &--textaria {
    width: 100%;
    height: 160px;
    margin-bottom: 20px;

    resize: none;

    @include media-tablet {
      margin-bottom: 26px;
    }

    @include media-mobile-big {
      margin-bottom: 24px;
    }
  }

  @include media-mobile-big {
    width: 100%;
    margin-bottom: 16px;
  }
}

.form__button {
  min-width: 117px;
  margin-right: auto;

  @include media-tablet {
    margin-left: auto;
  }
}