.links-colums {
  display: flex;
  flex-wrap: wrap;

  @include media-tablet {
    width: 100%;
  }
}

.links-colums__column {
  margin-right: 140px;

  &:last-child {
    margin-right: 0;
  }

  @include media-tablet {
    flex-grow: 1;
    margin-right: 0;
    padding-right: 40px;
  }
  @include media-mobile-big {
    margin-bottom: 18px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.links-colums__title {
  @include font(2rem, 3rem, 600);

  margin: 0;
  margin-bottom: 15px;

  color: $color-title;

  @include media-mobile-big {
    margin-bottom: 5px;

    font-size: 1.8rem;
  }
}

.links-colums__item-list {
  @extend %reset-list;
}

.links-colums__link {
  @extend %font-title;
  @extend %transition;
  @include font(1.6rem, 3.5rem);

  color: $color-text;

  &:hover,
  &:focus {
    color: $color-main;
  }
}
