.promo__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;

  @include media-tablet {
    padding-top: 0;

    overflow: hidden;
  }
  @include media-mobile-big {
    flex-direction: column-reverse;
    padding-top: 12px;
  }
}

.promo__content {
  margin-right: 60px;

  @include media-tablet {
    flex-shrink: 0;
    width: 400px;
    margin-right: 0;
  }
  @include media-mobile-big {
    width: 100%;
  }
}

.promo__title {
  @extend %font-title;
  @include font(4.4rem, 5.4rem, 700);

  margin: 0;
  margin-bottom: 30px;

  color: $color-title;

  @include media-tablet {
    margin-bottom: 26px;
  }
  @include media-mobile-big {
    margin-bottom: 9px;

    font-size: 3.2rem;
    line-height: 4.2rem;
    text-align: center;
  }
}

.promo__text {
  @extend %font-title;
  @include font(1.8rem, 2.8rem);

  margin: 0;
  margin-bottom: 45px;

  color: $color-text;

  @include media-mobile-big {
    margin-bottom: 23px;

    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

.promo__buttons {
  display: flex;
  align-items: center;

  @include media-mobile-big {
    flex-direction: column;
  }
}

.promo__button {
  margin-right: 44px;
  min-width: 174px;

  @include media-mobile-big {
    margin-right: 0;
    margin-bottom: 25px;
  }
}

.promo__link {
  display: flex;
  align-items: center;
}

.promo__link-icon {
  @extend %transition;

  margin-right: 9px;

  fill: $color-main;
}

.promo__link:hover .promo__link-icon {
  fill: $color-additional;
}

.promo__link-text {
  display: block;
}

.promo__img {
  @include media-mobile-big {
    width: 84%;
    height: auto;
    margin-bottom: 16px;
  }
}
