.strategies {

}

.strategies__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;

  @include media-tablet {
    padding-top: 51px;
    padding-bottom: 19px;
  }

  @include media-mobile-big {
    padding-top: 63px;
    padding-bottom: 0;
  }
}

.strategies__title {
  margin-bottom: 24px;

  @include media-tablet {
    margin-bottom: 14px;
  }
  @include media-mobile-big {
    margin-bottom: 15px;
  }
}

.strategies__text {
  margin-bottom: 24px;

  @include media-tablet {
    margin-bottom: 24px;
  }
  @include media-mobile-big {
    margin-bottom: 12px;
  }
}

.strategies__tag-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 31px;

  @include media-tablet {
    justify-content: center;
    margin-bottom: 50px;
  }
  @include media-mobile-big {
    margin-bottom: 34px;
  }
}

.strategies__tag {
  margin-right: 7px;

  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }
}

.strategies__tag.tag--active {
  cursor: auto;
}

.strategies__cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &::after {
    content: "";
    width: 365px;
  }

  @include media-tablet {
    &::after {
      width: 48%;
    }
  }
}

.strategies__card {
  width: 365px;
  margin-bottom: 30px;

  &--long {
    width: 763px;
  }

  @include media-tablet {
    width: 48%;
  }
  @include media-mobile-big {
    width: 100%;
    margin-bottom: 21px;
  }

  &--hidden {
    display: none;
  }
}