.tools {
  background-image: url("../img/bg/bg-tools.svg");
  background-repeat: no-repeat;
  background-position: center bottom;

  @include media-tablet {
    background-size: contain;
  }
}

.tools__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 90px;

  @include media-tablet {
    padding-top: 48px;
    padding-bottom: 53px;
  }
  @include media-mobile-big {
    padding-top: 19px;
    padding-bottom: 47px;
  }
}

.tools__title {
  max-width: 470px;
  margin-bottom: 70px;

  text-align: center;

  @include media-tablet {
    margin-bottom: 51px;
  }
  @include media-mobile-big {
    width: 100%;
    margin-bottom: 43px;
  }
}

.tools__4-columns {
  @extend %reset-list;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;

  @include media-tablet {
    margin-bottom: 0;
  }
  @include media-mobile-big {
    justify-content: center;
  }
}

.tools__column {
  width: 22%;

  @include media-tablet {
    width: 44%;
    margin-bottom: 54px;
  }
  @include media-mobile-big {
    width: 280px;
    margin-bottom: 47px;

    &:last-child {
      margin-bottom: 38px;
    }
  }
}

.tools__column-title {
  @include font(2.2rem, 3.0rem, 600);

  margin: 0;
  margin-bottom: 16px;

  color: $color-title;

  &::before {
    display: block;
    width: 50px;
    height: 50px;
    margin-bottom: 30px;

    @include media-tablet {
      margin: 0 auto 20px auto;
    }

    @include media-mobile-big {
      margin-bottom: 8px;
    }
  }

  @include media-tablet {
    text-align: center;
  }

  @include media-mobile-big {
    margin-bottom: 2px;
  }
}

.tools__column--click .tools__column-title::before {
  content: url("../img/icons/icon-cursor.svg");
}

.tools__column--surveys .tools__column-title::before {
  content: url("../img/icons/icon-wave.svg");
}

.tools__column--preference .tools__column-title::before {
  content: url("../img/icons/icon-heart.svg");
}

.tools__column--personal .tools__column-title::before {
  content: url("../img/icons/icon-hourglass.svg");
}

.tools__column-text {

}

.tools__button {
  min-width: 172px;
}