*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  @extend %font-default;
  @include font(10px, 162%);
  
  color: $color-text;

  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  // min-width: $mobile-width;
  margin: 0;
  padding: 0;

  background-color: $color-white;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
