*,
*::before,
*::after,
html {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  // min-width: $mobile-width;
  margin: 0;
  padding: 0;

  font-family: $font-deafult;
  font-size: 10px;
  line-height: 162%;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: $color-text;

  background-color: $color-white;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
