@mixin reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin font($size: 1.6rem, $height: 2.4rem, $weight: 400, $align: left, $style: normal) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  font-style: $style;
  text-align: $align;
}

// @mixin wrapper {
//   margin: 0 auto;

//   @media (min-width: $max-width) {
//     max-width: $max-width;
//   }

//   @media (max-width: $max-width) {
//     width: 100%;
//   }

//   @media (max-width: $mobile-width) {
//     max-width: $mobile-width;
//   }
// }

// ul {
//   @include reset-list();
// }
