.link {
  @extend %font-title;
  @include font(1.6rem, 2.4rem, 600);

  color: $color-main;
  text-decoration: underline;

  cursor: pointer;

  &:hover,
  &:focus {
    color: $color-additional;
  }

  &:active {
    color: transparentize($color-additional, 0.1);
  }
}