.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 31px;
  height: 25px;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;

  &::after,
  &::before {
    @extend %transition;

    content: "";

    display: block;
    width: 31px;
    height: 3px;

    background-color: $color-menu-icon;
    border-radius: 5px;
    transform: rotate(0deg);
  }

  &::before {
    transform-origin: top left;
  }

  &::after {
    transform-origin: bottom left;
  }

  &--cross::after {
    width: 37px;
    transform: translate(2px) rotate(-38deg);
  }

  &--cross::before {
    width: 37px;
    transform: translate(2px) rotate(38deg);
  }

  &--cross .menu-button__line {
    opacity: 0;
  }
}

.menu-button__line {
  @extend %transition;

  display: block;
  width: 31px;
  height: 3px;

  background-color: $color-menu-icon;
  border-radius: 5px;
}

.menu-button:hover .menu-button__line,
.menu-button:focus .menu-button__line {
  background-color: $color-main;
}

.menu-button:hover::after,
.menu-button:hover::before,
.menu-button:focus::after,
.menu-button:focus::before {
  background-color: $color-main;
}
