.title {
  display: block;
  margin: 0;

  font-family: $font-title;
  font-size: 3.4rem;
  line-height: 4.6rem;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: $color-title;
}