.title {
  display: block;
  margin: 0;

  @extend %font-default;
  @include font(3.4rem, 4.6rem, 700);

  color: $color-title;

  @include media-tablet {
    text-align: center;
  }

  @include media-mobile-big {
    font-size: 2.4rem;
    line-height: 3.3rem;
  }
}