.wrapper {
  max-width: $desktop-width;
  margin: 0 auto;
  padding-right: $desktop-padding;
  padding-left: $desktop-padding;

  @include media-tablet {
    padding-right: $tablet-padding;
    padding-left: $tablet-padding;
  }

  @include media-mobile-big {
    padding-right: $mobile-padding;
    padding-left: $mobile-padding;
  }
}